       #map {
        height: 90%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 95%;
        margin: 0;
        padding: 0;
        line-height: 1.6em;
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
      }
      .controls {
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

      .container {
          width: 80%;
          margin: auto;
          overflow: hidden;
      }

      #main-header {
        height: 10%;
        background-color: coral;
        color: whitesmoke;
        padding: 0;
        margin: 0;
      }

      #main-header h1 {
        display: inline-block;
        padding-left: 2%;
      }

      #main-header ul {
        float: right;
        padding-right: 2%;
      }

      #main-header ul li {
        text-align: center;
        list-style: none;
        display: inline-block;
        margin-left: 20px;
        margin-top: 3px;
      }

      #main-header a {
        color: whitesmoke;
        text-decoration: none;
      }

      #about {
        text-indent: 2%;
        margin-right: auto;
        margin-left: auto;
        width: 50%;
        display: block;
      }

      #about img {
        margin-right: auto;
        margin-left: auto;
        width: 50%;
        display: block;
        max-height: 30%;
        border-style: solid;
        border-color: coral;
        border-width: 5px;
      }


      #origin-input,
      #destination-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 200px;
      }

      #origin-input:focus,
      #destination-input:focus {
        border-color: #4d90fe;
      }

      #mode-selector {
        color: #fff;
        background-color: #4d90fe;
        margin-left: 12px;
        padding: 5px 11px 0px 11px;
      }

      #mode-selector label {
        font-family: 'Arial', 'Helvetica', 'sans-serif';
        font-size: 13px;
        font-weight: 300;
      }

/* Draggable directions styles */
    /* Always set the map height explicitly to define the size of the div
      * element that contains the map. */
      #map {
        padding: 0;
        height: 100%;
        float: left;
        width: 63%;
        box-sizing: border-box;
        object-fit: fill;
      }

      #right-panel {
        font-family: 'Arial', 'Helvetica', 'sans-serif';
        line-height: 30px;
        padding: 0 50px 0 0;
        overflow-y: auto;
        float: right;
        height: 98%;
        width: 33%;
        box-sizing: border-box;
      }

      #right-panel select, #right-panel input {
        font-size: 15px;
      }

      #right-panel select {
        width: 100%;
      }

      #right-panel i {
        font-size: 12px;
      }
      .panel {
        height: 100%;
        overflow: auto;
        box-sizing: border-box;
      }