<html>
    <head>
        <title>Safeways Map</title>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="../static/style.css">
    </head>
    <body>
        <header id="main-header">
            <div class="container"></div>
                <h1>Safeways</h1>
                <ul>
                    <li><a href="index.html">Map</a></li>
                    <li><a href="about.html">About</a></li>
                </ul>
            </div>
        </header>

        <div id="about">
            <h1>
                About Us
            </h1>
        </div>
        <div id="about">
            <img src="./banner.png" alt="safeways_banner.png">
        </div>
        <div id="about">
            <h2>
                SafeWays
            </h1>
            <p>
                Safeways is a webapp that maps the safest route from one place to another
                by accounting for recent and frequent crime locations in the University of
                Illinois at Urbana-Champaign campus area.
            </p>
            <p>
                Using data provided by the University of Illinois at Urbana-Champaign police department,
                this web app shows routes from point A to point B that avoid dangerous spots around campus.
                These spots include places where crime has happened within the last six months
                as well as places where crimes have happened frequently in the past few years.
            </p>
            <h2>
                Contributors
            </h2>
            <p>
                Safeways is a project made by students in the Fall 2018 CS 196 class at the
                University of Illinois at Urbana-Champaign.
                Project members: Hannah Wang (hlwang3), Kathy Zhou (kathyyzhou),
                Dev Satpathy (devsatpathy), Willy Ling (weikeng2), Melissa Chen (melissachen2000)
                Project manager: Kavi Ravuri        
            </p>
        </div>
        <br>
    </body>

</html>